*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #EAEFEF;
}

.dark{
    background-color: #1E2424;
}

.darkImg{
    filter: brightness(0) invert(1);
}

.light{
    background-color: #EAEFEF;
}

.navbar{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}


.menu img{
    width: 25%;
}


.nav{
    display: none;
    position: absolute;
    top: 3.5rem;
    background-color: #EAEFEF;
    border-radius: 1rem;
}

.show{
    display: flex;
}

.remove{
    display: none;
}


.nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 1rem;
}

.nav ul li{
    margin: 0.5rem;
}

.nav ul li a{
    color: inherit;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
}

.toggle button{
    padding: 0.7rem;
    border: none;
    border-radius: 50%;
    background-color: gray;
    font-size: larger;
    cursor: pointer;
}

/* main */

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #5d7da1;
    color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}

.profile h1{
    font-weight: 700;
}

.img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid grey;
    background-image: url("images/passport.jpg");
    background-size: cover;
}

.details{
    font-size: large;
    text-align: center;
    margin-top: 1rem;
}


/* aboutme */

.aboutme{
    background-color:#F5F7FA;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.aboutme h2{
    text-align: center;
}

.aboutme p{
    padding: 1rem;
    line-height: 1.5rem;
}

/* skills */
.skills{
    background-color: #F5F7FA;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.skills h2{
    text-align: center;
}

.skills ul {
   padding: 1rem;
   line-height: 1.5rem;
}

.skills h3{
    margin: 0.3rem;
    text-align: center;
}


/* Projects */

.Projects{
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #F5F7FA;
}

.Projects h2{
    text-align: center;
}

.p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    margin: 1rem;
}

.pi{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.pi img{
    width: 40%;
}

.pd{
    padding: 0.5rem;
    line-height: 2rem;
    text-align: center;
}

.pd button{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #EAEFEF;
    font-weight: 700;
}


/* Education & Experience */

.EduAndExp{
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #F5F7FA;
}

.edu,.exp{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

/* contact */
.contact{
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #F5F7FA;
    text-align: center;
    
}

.contact h2{
    text-align: center;
    margin: 0.5rem;
}

.contact p{
    line-height: 1.5rem;
}

/* footer */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}


@media(min-width:1367px){

    .navbar{
        justify-content: center;
        gap: 20px;
    }

    .nav{
        display: flex;
        margin: 0;
        position: relative;
        top: 0;
    }

    .nav ul{
        flex-direction: row;
        gap: 25px;
    }

    .nav ul:hover{
        background-color: #F5F7FA;
        cursor: pointer;
    }

    .menu img{
        display: none;
    }

    .toggle button{
        padding: 0.5rem;
    }

    .profile{
        height: 200px;
        width: 1200px;
        margin: 0 auto;
        flex-direction: row;
        gap: 20px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
    }

    .profile:hover{
        transform: perspective(900px) rotateY(5deg) rotateX(5deg);
    }

    .aboutme,.skills{
        width: 1000px;
        margin: 50px auto;
    }

    .Projects{
        width: 1000px;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .Projects h2{
        text-align: center;
    }

    .p{
        height: 450px;
        width: 450px;
    }

    .pi img{
        width: 30%;
    }

    .pp{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .EduAndExp{
        height: 250px;
        width: 900px;
        margin: 50px auto;
    }

    .contact{
        height: 100px;
        width: 900px;
        margin: 50px auto;
    }
}